{% extends "app-template.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set govukServiceNameKey = translate("govuk.serviceName") %}
{% set govukServiceTitleKey = translate("govuk.serviceName") %}
{% set hmpoPageKey = "service-notification.notifyUserPage" %}
{% set orgLink = "/admin/notify-users" %}
{% set govukServiceUrl = "admin/notify-users" %}

{% block hmpoContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      }
    ]
  }) }}

  <div class="govuk-!-width-two-thirds">
    {{ govukNotificationBanner({
      html: "<h2>You have successfully added a notification.</h2><p>This will be visible in around 5 minutes.</p>",
      type: "success"
    }) }}

  {{ super() }}
    <p>Use notifications to tell all Life Event Verification (LEV) users about:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>a problem that affects the service as a whole, such as  technical issues</li>
      <li>something that affects them in particular, such as an approaching deadline they need to meet</li>
    </ul>

    {{ govukButton({
      text: "Add notification",
      href: "/admin/notify-users/enter-message",
      isStartButton: true,
      id: "add-notification"
    }) }}

    <h1 class="govuk-heading-m">Live notification</h1>


    {{ govukTable({
      classes: "audit live-notification",
      firstCellIsHeader: false,
      head: [{text: "Message"}, {text: ""}],
      rows: [
        [
          {text: livemessage},
          {html: '<a href="/" class="govuk-link">Delete</a>'}
        ]
      ]
    }) }}

  </div>
{% endblock %}