{% extends "details-template.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "hmpo-submit/macro.njk" import hmpoSubmit %}

{% set hmpoPageKey = "birth.detailsPage" %}
{% set govukServiceNameKey = translate("pages.birth.serviceName") %}
{% set govukServiceUrl = "/birth" %}

{% set result = results[0] %}
{% set hmpoTitle -%}
    {{ result.child.forenames }} {{ result.child.surname }} {{ result.child.dateOfBirth | date("DD/MM/YYYY")}}
{%- endset %}


{% block mainContent %}
    {{ super() }}

    {{ govukTable({
        classes: "details",
        firstCellIsHeader: true,
        rows: [
            [
                { text: "System number" },
                { text: result.id }
            ],
            [
                { text: "Child", colspan: 2, classes: "section-head" }
            ],
            [
                { text: "Surname" },
                { text: result.child.surname }
            ],
            [
                { text: "Forename(s)" },
                { text: result.child.forenames }
            ],
            [
                { text: "Date of birth" },
                { text: result.child.dateOfBirth | date("DD/MM/YYYY") }
            ],
            [
                { text: "Sex" },
                { text: result.child.sex }
            ],
            [
                { text: "Place of birth" },
                { text: result.child.birthplace }
            ],
            [
                { text: "Mother", colspan: 2, classes: "section-head" }
            ],
            [
                { text: "Name" },
                { text: result.mother.forenames + " " + result.mother.surname }
            ],
            [
                { text: "Maiden Name" },
                { text: result.mother.maidenSurname }
            ],
            [
                { text: "Surname at marriage if different from maiden name" },
                { text: result.mother.marriageSurname }
            ],
            [
                { text: "Place of birth" },
                { text: result.mother.birthplace }
            ],
            [
                { text: "Father / Parent", colspan: 2, classes: "section-head" }
            ],
            [
                { text: "Name" },
                { text: result.father.forenames + " " + result.father.surname }
            ],
            [
                { text: "Place of birth" },
                { text: result.father.birthplace }
            ],
            [
                { text: "Registration", colspan: 2, classes: "section-head" }
            ],
            [
                { text: "Birth registered by" },
                { text: result.informant1.qualification }
            ],
            [
                { text: "Registration district" },
                { text: result.registrar.district }
            ],
            [
                { text: "Sub-district" },
                { text: result.registrar.subdistrict }
            ],
            [
                { text: "Administrative area" },
                { text: result.registrar.administrativeArea }
            ],
            [
                { text: "Date of registration" },
                { text: result.date | date("DD/MM/YYYY") }
            ]
        ]
    }) }}

    <div class="govuk-button-group">
        {{ hmpoSubmit(ctx, {key: "newSearch", href: "/"}) }}
        {{ hmpoSubmit(ctx, {key: "editSearch", classes: "blue", href: "/"}) }}
        {{ hmpoSubmit(ctx, {
            key: "backToResults",
            classes: "grey",
            href: "/results"
        }) }}
    </div>
{% endblock %}
