{% extends "../app-template.njk" %}

{% from "hmpo-field/macro.njk" import hmpoField %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "hmpo-submit/macro.njk" import hmpoSubmit %}
{% from "../lev-system-number.njk" import levSystemNumber %}

{% set hmpoPageKey = "birth.searchPage" %}
{% set govukServiceNameKey = translate("pages.birth.serviceName") %}
{% set govukServiceUrl = "/birth" %}

{% block mainContent %}
    {{ super() }}

    {% call hmpoForm(ctx) %}
        {{ levSystemNumber(ctx, "system-number", "birth-system-number-hint") }}
        {{ hmpoField(ctx, "surname") }}
        {{ hmpoField(ctx, "forenames") }}
        {{ hmpoField(ctx, "dob") }}
        {{ hmpoSubmit(ctx, {key: "search"}) }}
    {% endcall %}
{% endblock %}
