{% macro levSystemNumber(ctx, fieldName, detailsKey) %}
    {% from "hmpo-details/macro.njk" import hmpoDetails %}
    {% from "hmpo-field/macro.njk" import hmpoField %}
    {% from "hmpo-html/macro.njk" import hmpoHtml %}

    {{ hmpoField(ctx, fieldName) }}

    {% set detailsKey = "fields." + detailsKey or fieldName + "-hint" %}

    {{ hmpoDetails({
        id: fieldName + "-hint",
        summaryText: hmpoHtml(ctx().translate(detailsKey + ".summaryHtml")),
        html: hmpoHtml(ctx().translate(detailsKey + ".html"))
    }) }}
{% endmacro %}
