{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% macro levHeader(params) %}
<header class="govuk-header" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container home-header">
    <div class="govuk-header__logo govuk-!-margin-left-0 govuk-!-margin-bottom-1 govuk-!-padding-bottom-1">
      <img
          src="/public/images/header-logo.svg"
          alt="HM Passport Office"
          role="img"
          style="width: 100%; max-width: 245px; height: auto; display: block;">
    </div>
    <div class="home-header__right">
      <a id="logout" class="govuk-header__link logout" href="/oauth/logout">
        {{ params.logout }}
      </a>
    </div>
  </div>
</header>

    <div class="govuk-!-width-full">
      {{ govukServiceNavigation({
        serviceName: "Life Event Verification",
        serviceUrl: "/",
        classes: "no-underline"
      }) }}
    </div>

{% if displayFeedbackBanner() %}
<div class="govuk-phase-banner govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
        Beta
    </strong>
    <span class="govuk-phase-banner__text">
      {{ feedbackContentHtml | safe }}
    </span>
  </p>
</div>
{% endif %}

{% endmacro %}

