{% macro levFlag(ctx, params) %}
    {% from "hmpo-html/macro.njk" import hmpoHtml %}

    {% set key = "flags." + params.key %}

    <div class="flag {{ params.type | default('') }} govuk-body">
        {{ ctx().translate(key) }}
        {{ params.html }}
    </div>
{% endmacro %}
