{% macro pagination(itemCount, itemsPerPage, currentPage) %}
    {% from "govuk/components/pagination/macro.njk" import govukPagination %}

    {% set pages = itemCount / itemsPerPage %}

    {% if pages > 1 %}

        {% set paginationArray = [] %}

        {% for i in range(1, pages + 1) -%}
            {% set rowArray = [] %}
            {% set isCurrent = (currentPage == i) %}
            {% set rowArray = { number: i, href: "?page=" + i, current: isCurrent } %}
            {% set paginationArray = (paginationArray.push(rowArray), paginationArray) %}
        {%- endfor %}

        {% set nextHref = "" %}
        {% if usersMetaData.currentPage < pages %}
            {% set nextHref = "?page=" + (usersMetaData.currentPage + 1) %}
        {% endif %}

        {{ govukPagination({
            next: {
                href: nextHref
            },
            items: paginationArray
        }) }}

    {% endif %}

{% endmacro %}
