{% macro usersTable(users, usersMetaData, fieldsToDisplay) %}
  {% from "govuk/components/table/macro.njk" import govukTable %}
  {% from "govuk/components/tag/macro.njk" import govukTag %}

  {% set startIndex = ((usersMetaData.currentPage - 1) * usersMetaData.perPage) + 1 %}
  {% set endIndex = usersMetaData.currentPage * usersMetaData.perPage %}

  {% if endIndex > usersMetaData.total %}
    {% set endIndex = usersMetaData.total %}
  {% endif %}

  {% set usersOnPage = users.length %}

  {% set userInfo = "Showing <b>" + usersOnPage + "</b> of <b>" + usersMetaData.total + "</b> users" %}
  <p>{{ userInfo | safe }}</p>

  {% set usersHeaderArray = [] %}
  {% set usersArray = [] %}

  {# Build headers dynamically #}
  {% for field in fieldsToDisplay %}
    {% set headerItem = { text: field } %}
    {% if usersHeaderArray %}
      {% set usersHeaderArray = usersHeaderArray | push(headerItem) %}
    {% else %}
      {% set usersHeaderArray = [ headerItem ] %}
    {% endif %}
  {% endfor %}

  {# Build rows dynamically #}

  {% for user in users | sort(attribute='username') %}
    {% set rowArray = [] %}
    {% for field in fieldsToDisplay %}
      {% if field == 'User' %}
        {% set cellItem = { html: '<a href=/admin/organisations/'+ user.orgID +'/team/' + user.teamID + '/user/' + user.email + '>' + (user.firstName + " " + user.lastName) | title + '</a>' } %}
      {% elif field == 'Team' %}
        {% set cellItem = { text: user.teamName } %}
      {% elif field == 'Email address' %}
        {% set cellItem = { text: user.email } %}
      {% elif field == 'Last active' %}
        {% set cellItem = { html: '<p title="' + user.lastActive | date("DD MMM YYYY, HH:MMa") + '">' + user.lastActive | relativeDateTime + '</p>'} %}
      {% elif field == 'Account status' %}
        {% set statusClasses = {
          "Active": "govuk-tag--turquoise",
          "Inactive": "govuk-tag--grey",
          "Locked": "govuk-tag--orange"
        } %}
        {% set tagClass = statusClasses[user.status] %}
        {% set cellItem = { text: govukTag({ text: user.status , classes: tagClass }) }%}
      {% endif %}
      {% if rowArray %}
        {% set rowArray = rowArray | push(cellItem) %}
      {% else %}
        {% set rowArray = [ cellItem ] %}
      {% endif %}
    {% endfor %}
    {% set usersArray = usersArray | push(rowArray) %}
  {% endfor %}

  {{ govukTable({
  classes: "details table-container",
  firstCellIsHeader: false,
  head: usersHeaderArray,
  rows: usersArray
  }) }}

  {% set resultsInfo = "Showing results <b>" + startIndex + "</b> to <b>" + endIndex + "</b>" %}
  <div class="user-table-footer"><p>{{ resultsInfo | safe }}</p></div>
{% endmacro %}
