{% extends "hmpo-template.njk" %}

{% from "hmpo-footer/macro.njk" import hmpoFooter %}
{% from "components/lev-header.njk" import levHeader %}
{% from "hmpo-html/macro.njk" import hmpoHtml %}

{% block pageTitle %}
  {{ (translate("govuk.error", { default: "Error" }) + ": ") if errorlist.length }}{{ govukServiceTitleKey | safe if govukServiceTitleKey }} – GOV.UK
{% endblock %}

{% block header %}
  {% if username %}
    {{ levHeader({
      productName: translate("govuk.logoName"),
      serviceName: govukServiceNameKey,
      serviceUrl: govukServiceUrl,
      home: translate("buttons.home"),
      logout: translate("buttons.logout")
    }) }}
  {% else %}
    {{ levHeader({
      productName: translate("govuk.logoName"),
      serviceName: govukServiceNameKey,
      serviceUrl: govukServiceUrl,
      home: translate("buttons.home")
    }) }}
  {% endif %}
{% endblock %}

{% block footer %}
  <footer class="govuk-footer">
    <div class="govuk-width-container">
      <div class="govuk-footer__meta">
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          <ul class="govuk-footer__inline-list">
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link govuk-body-s" href="/accessibility-statement">
                {{ translate('footer.links.accessibilityStatement') }}
              </a>
            </li>
            {% if username %}
              <li class="govuk-footer__inline-list-item">
                <a class="govuk-footer__link govuk-body-s" href="/syops">
                  {{ translate('footer.links.syops') }}
                </a>
              </li>
            {% endif %}
          </ul>
          <span class="govuk-footer__licence-description">
          &copy; {{ translate('govuk.logoName') }} {{ "" | getYear }}
        </span>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}
