<div class="modal-container" id="modal-container">
  <dialog class="timeout-modal" open>
    <div class="modal-content">
      <div class="govuk-grid-row" id="modal-label-container">
        <h2 class="govuk-heading-m" id="modal-label">{{ translate('timeoutWarning.heading') }}</h2>
        <p class="govuk-body-m" id="modal-label-inactive">
          {{ translate('timeoutWarning.content1') }}
          <span class="govuk-body-m govuk-!-font-weight-bold" id="timeout-countdown-label"></span>
          {{ translate('timeoutWarning.content2') }}
        </p>
      </div>
      <div class="govuk-grid-row govuk-button-group" id="modal-label-button-container">
        <button class="govuk-button" data-module="govuk-button" id="staySignedInBtn">{{ translate('buttons.staySignedIn') }}</button>
        <a class="govuk-link govuk-link--no-visited-state" id="sessionTimeoutSignoutButton" href="/oauth/logout">{{ translate('buttons.logout') }}</a>
      </div>
    </div>
  </dialog>
</div>