{% extends "../app-template.njk" %}

{% from "hmpo-submit/macro.njk" import hmpoSubmit %}
{% set hmpoPageKey = "pageNotFound" %}

{% set govukServiceNameKey = translate("pages.user-management.serviceName") %}
{% set hmpoPageKey = "user-management.organisationPage" %}
{% set govukServiceUrl = "/admin/organisations" %}

{% block hmpoContent %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% block mainContent %}
            <h1>{{error.error}}</h1>
            <div class="govuk-button-group">
                {{ hmpoSubmit(ctx, {id: "startAgain", key: "startAgain", href: "/"}) }}
            </div>
        {% endblock %}
    </div>
</div>
{% endblock %}
