{% extends "app-template.njk" %}

{% from "hmpo-field/macro.njk" import hmpoField %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "hmpo-submit/macro.njk" import hmpoSubmit %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "components/service-notification-display.njk" import serviceNotificationDisplay %}

{% set govukServiceNameKey = translate("pages.user-management.serviceName") %}
{% set govukServiceUrl = "/admin/organisations" %}

{% set govukServiceTitleKey = translate("pages.user-management." + pageName + ".pageTitle") %}
{% set hmpoPageKey = "user-management." + pageName %}

{% block mainContent %}
    {{ serviceNotificationDisplay(displayServiceNotification) }}

{{ super() }}

  {% call hmpoForm(ctx) %}

    {{ hmpoField(ctx, "teamName") }}
    {{ hmpoField(ctx, "permissionCheckboxes") }}

    <div class="govuk-button-group">
      {{ hmpoSubmit(ctx, {id: "submit", key: "submit"}) }}
      {{ hmpoSubmit(ctx, {id: "back", key: "back", href: '/admin/organisations', classes: "govuk-button--secondary"}) }}
    </div>
  {% endcall %}
{% endblock %}
