{% extends "app-template.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "components/pagination.njk" import pagination %}
{% from "components/users-table.njk" import usersTable %}

{% set govukServiceNameKey = translate("pages.user-management.serviceName") %}
{% set govukServiceTitleKey = translate("pages.user-management.organisationPage.pageTitle") %}
{% set hmpoPageKey = "user-management.organisationPage" %}
{% set govukServiceUrl = "/admin/organisations" %}

{% block hmpoContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% block mainContent %}
    <h1 id="header" data-page="{{hmpoPageKey}}">{{ translate("pages." + hmpoPageKey + ".h1", { default: hmpoTitle }) |
      safe }}: {{orgInfo.name}}</h1>
    <h3>Organisation Team(s)</h3>
    {% set teamHeaderArray = [] %}
    {% set teamsArray = [] %}
    {% for item in ["Team", "Users"] %}
      {% set teamHeaderArray = (teamHeaderArray.push( { text: item }), teamHeaderArray) %}
    {% endfor %}

    {% for team in teams | sort('team.name') %}
      {% set rowArray = [] %}
      {% set teamLink = "/admin/organisations/" + orgInfo.id + "/team/" + team.id %}
      {% set rowArray = (rowArray.push( { html: "<a href=" + teamLink +">" + team.name + "</a>" } ), rowArray) %}
      {% set rowArray = (rowArray.push( { text: team.users } ), rowArray) %}
      {% set teamsArray = (teamsArray.push(rowArray), teamsArray) %}
    {% endfor %}

    <div class="table-horizontal-scrolling">
      {{ govukTable({
      classes: "audit",
      firstCellIsHeader: true,
      head: teamHeaderArray,
      rows: teamsArray
      }) }}
    </div>

      <h3>Organisation Users</h3>
      {% if users.length == 0 %}
        <p>There are no users in this organisation.</p>
      {% else %}
        {{ usersTable(users, usersMetaData) }}
        {{ pagination(usersMetaData.total, usersMetaData.perPage, usersMetaData.currentPage) }}
      {% endif %}

    {% endblock %}
  </div>
</div>
{% endblock %}
