{% extends "app-template.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "components/pagination.njk" import pagination %}
{% from "components/users-table.njk" import usersTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "hmpo-submit/macro.njk" import hmpoSubmit %}

{% set govukServiceNameKey = translate("pages.user-management.serviceName") %}
{% set govukServiceTitleKey = translate("pages.user-management.organisationPage.pageTitle") %}
{% set hmpoPageKey = "user-management.organisationPage" %}
{% set govukServiceUrl = "/admin/organisations" %}
{% set orgLink = govukServiceUrl + "/" + orgInfo.id %}

{% block hmpoContent %}
  <div class="govuk-grid-row">
    {% block mainContent %}

    <div class="govuk-grid-column-two-thirds">

      {% set status = '' %}
      {% set html = '' %}

      {% if addTeamAttempt or editTeamAttempt or editOrgAttempt %}
        {% if addTeamAttempt %}
          {% if addTeamSuccess %}
            {% set status = "success" %}
            {% set html = "<h2>You have successfully added team " + addedTeamName + "</h2>" %}
          {% else %}
            {% set status = "failure" %}
            {% if teamExistsError %}
              {% set html = "<h2>Unable to add team as " + addedTeamName + " already exists in organisation</h2>" %}
            {% else %}
              {% set html = "<h2>There is a problem - Unable to add team " + addedTeamName + "</h2>" %}
            {% endif %}
          {% endif %}
        {% elif editTeamAttempt %}
          {% if editTeamSuccess %}
            {% set status = "success" %}
            {% set html = "<h2>You have successfully updated " + updatedTeamName + "</h2>" %}
          {% else %}
            {% set status = "failure" %}
            {% if editedTeamExists %}
              {% set html = "<h2>Unable to add team as " + updatedTeamName + " already exists in organisation</h2>" %}
            {% else %}
              {% set html = "<h2>There is a problem - Unable to update " + updatedTeamName + "</h2>" %}
            {% endif %}
          {% endif %}
        {% elif editOrgAttempt %}
          {% if editOrgSuccess %}
            {% set status = "success" %}
            {% set html = "<h2>You have successfully updated " + updatedOrgName + "</h2>" %}
          {% else %}
            {% set status = "failure" %}
            {% if orgExistsError %}
              {% set html = "<h2>Unable to edit organisation as " + updatedOrgName + " already exists</h2>" %}
            {% else %}
              {% set html = "<h2>There is a problem - Unable to edit organisation " + updatedOrgName + "</h2>" %}
            {% endif %}
          {% endif %}
        {% endif %}

        {{ govukNotificationBanner({
          html: html,
          type: status
        }) }}
      {% endif %}
    </div>
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <h1 id="header" data-page="{{hmpoPageKey}}">{{ translate("pages." + hmpoPageKey + ".h1", { default: hmpoTitle }) |
            safe }}: {{orgInfo.name}}</h1>
        </div>
        {% if IS_EXTERNAL == "false" %}
          <div class="govuk-grid-column-one-quarter">
            {{ hmpoSubmit(ctx, {id: "editOrganisation", key: "editOrganisation", href: orgLink + "/edit"}) }}
          </div>
        {% endif %}
      </div>
      <h3>Organisation Team(s)</h3>
      {% set teamHeaderArray = [] %}
      {% set teamsArray = [] %}
      {% for item in ["Team", "Users"] %}
        {% set teamHeaderArray = (teamHeaderArray.push( { text: item }), teamHeaderArray) %}
      {% endfor %}

      {% for team in teams | sort('team.name') %}
        {% set rowArray = [] %}
        {% set teamLink = "/admin/organisations/" + orgInfo.id + "/team/" + team.id %}
        {% set rowArray = (rowArray.push( { html: "<a href=" + teamLink +">" + team.name + "</a>" } ), rowArray) %}
        {% set rowArray = (rowArray.push( { text: team.users } ), rowArray) %}
        {% set teamsArray = (teamsArray.push(rowArray), teamsArray) %}
      {% endfor %}

      <div class="table-horizontal-scrolling">
        {{ govukTable({
          classes: "audit",
          firstCellIsHeader: true,
          head: teamHeaderArray,
          rows: teamsArray
        }) }}
      </div>

      <div class="govuk-button-group">
        {{ govukButton({
            text: "Add user",
            href: orgLink + "/user/create",
            classes: "govuk-button--secondary" })
        }}
        {% if IS_EXTERNAL == "false" %}
          {{ govukButton({
            text: "Add team",
            href: orgLink + "/team/create",
            classes: "govuk-button--secondary" })
          }}
        {% endif %}
      </div>

      <h2>Organisation Users</h2>
      {% if users.length == 0 %}
        <p>There are no users in this organisation.</p>
      {% else %}
        {{ usersTable(users, usersMetaData, ["User", "Team", "Email address", "Account Status"]) }}
        {{ pagination(usersMetaData.total, usersMetaData.perPage, usersMetaData.currentPage) }}
      {% endif %}

      {% endblock %}
    </div>
  </div>
{% endblock %}
