{% extends "service-notification-display-template.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "components/service-notification-display.njk" import serviceNotificationDisplay %}

{% set govukServiceNameKey = translate("pages.user-management.serviceName") %}
{% set govukServiceTitleKey = translate("pages.user-management.organisationPage.pageTitle") %}
{% set govukServiceUrl = "/admin/organisations" %}
{% set orgLink = govukServiceUrl + "/" + orgInfo.id %}

{% block hmpoContent %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% block mainContent %}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

            {% set status = '' %}
            {% set html = '' %}

            {% if editOrgAttempt or updateDomainsAttempt %}
              {% if editOrgSuccess %}
                {% set status = "success" %}
                {% set html = "<h2>You have successfully updated " + updatedOrgName + "</h2>" %}
              {% else %}
                {% set status = "failure" %}
                {% if orgExistsError %}
                  {% set html = "<h2>Unable to edit organisation as " + updatedOrgName + " already exists</h2>" %}
                {% else %}
                  {% set html = "<h2>There is a problem - Unable to edit organisation " + updatedOrgName + "</h2>" %}
                {% endif %}
              {% endif %}
            {% if updateDomainsAttempt %}
              {% if addedDomains %}
                {% set status = "success" %}
                {% set html = "<h2>You have successfully added " + orgInfo.name + " email domains.</h2>" %}
              {% endif %}
              {% if deletedDomain %}
                {% set status = "success" %}
                {% set html = "<h2>You have successfully deleted \'" + deletedDomain + "\' as an email domain.</h2>" %}
              {% endif %}
            {% endif %}

              {{ govukNotificationBanner({
                html: html,
                type: status
              }) }}
            {% endif %}
          </div>

          <div class="govuk-grid-column-three-quarters">
            <h1 id="header" data-page="{{ hmpoPageKey }}">{{ orgInfo.name }}</h1>

            {{ govukSummaryList({
              card: {
                title: {
                  text: "Profile"
                },
                actions: {
                  items: [
                    {
                      href: orgLink + '/change-profile',
                      text: 'Change'
                    }
                  ]
                }
              },
              rows: [
                { key: { text: "Organisation name", classes: "govuk-summary-list__key_no_bold govuk-!-width-one-half_no_padding" }, value: { text: orgInfo.name }, classes: "govuk-summary-list__key_no_bold govuk-!-width-one-half_no_padding" },
                {
                  key: { text: null },
                  value: { text: null },
                  classes: "govuk-summary-list__row--empty"
                }
              ]
            }) }}

            {{ govukSummaryList({
              card: {
                title: {
                  text: "Functions"
                },
                actions: {
                  items: [
                    {
                      href: orgLink + '/manage/view-authorised-data',
                      text: 'View authorised data'
                    },
                    {
                      href: orgLink + '/',
                      text: 'Change'
                    }
                  ]
                }
              },
              rows: []
            }) }}


            {% set summaryRows = [] %}

            {% for domain in orgInfo.emailDomains %}
              {% set summaryRows = summaryRows.concat([{
                key: {
                  text: domain,
                  classes: 'govuk-summary-list__key_no_bold govuk-!-width-two-thirds'
                },
                actions: {
                  items: [
                    {
                      href: orgLink + '/delete-email-domain/' + domain + '/confirm',
                      text: 'Delete'
                    }
                  ]
                },
                classes: 'govuk-summary-list__row_no_border'
              }]) %}
            {% endfor %}

            {{ govukSummaryList({
              card: {
                title: {
                  text: "Email domains"
                },
                actions: {
                  items: [
                    {
                      href: orgLink + '/add-email-domain',
                      text: 'Add domain'
                    }
                  ]
                }
              },
              rows: summaryRows
            }) }}

          </div>

        </div>
      {% endblock %}
    </div>
  </div>

{% endblock %}