{% extends "app-template.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "components/pagination.njk" import pagination %}
{% from "components/users-table.njk" import usersTable %}
{% from "components/user-search.njk" import userSearch %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "hmpo-submit/macro.njk" import hmpoSubmit %}

{% set govukServiceNameKey = translate("pages.user-management.serviceName") %}
{% set govukServiceTitleKey = translate("pages.user-management.teamPage.pageTitle") %}
{% set hmpoPageKey = "user-management.teamPage" %}
{% set govukServiceUrl = "/admin/organisations" %}
{% set orgLink = govukServiceUrl + "/" + teamInfo.organisation.id %}
{% set teamLink = orgLink + "/team/" + teamInfo.id %}

{% block hmpoContent %}

  {% set status = '' %}
  {% set html = '' %}

  {% if addedUser %}
    {% if userFullName %}
      {% set status = "success" %}
      {% set html = "<h2>You have successfully added " + userFullName + " </h2>" %}
    {% else %}
      {% set status = "failure" %}
      {% set html="<h2>" + errorMessage +"</h2>" %}
    {% endif %}

    {{ govukNotificationBanner({
      html: html,
      type: status
    }) }}
  {% endif %}

  {% if deletedUser %}

    {% set html %}
      <h2>You have successfully deleted {{ deletedUser }}'s account.</h2>
    {% endset %}

    <div class="govuk-!-width-two-thirds">
      {{ govukNotificationBanner({
        html: html,
        type: "success"
      }) }}
    </div>

  {% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% block mainContent %}
      <div class="govuk-!-width-two-thirds">

  <span class="govuk-caption-m">{{ teamInfo.organisation.organisationName }}</span>
  <div class="govuk-!-width-full flex-row">
    <h1>{{ teamInfo.teamName }}</h1>
    {% if IS_EXTERNAL == "false" %}
      <div class="govuk-!-text-align-right">
        {{ hmpoSubmit(ctx, {id: "editTeam", key: "editTeam", href: teamLink + "/edit"}) }}
      </div>
    {% endif %}

  </div>
        {% if teamInfo.isAdmin %}
          <h2>{{ govukTag({
              text: "Admin",
              classes: "govuk-tag--turquoise"
            }) }}</h2>
        {% endif %}

  {% set rowArray = [{ key: { text: "Search type", classes: "govuk-!-font-weight-bold text-color-black" }, value: { text: "Permission", classes: "govuk-!-font-weight-bold text-color-black" } }] %}

  {% for key, value in teamInfo.permissions %}
    {% set yesNoTag = govukTag({ text: "Yes" if value else "No", classes: "govuk-tag--turquoise" if value else "govuk-tag--red"  }) %}
    {% set rowArray = (rowArray.push( { key: { text: key | title }, value: { text: yesNoTag } }), rowArray) %}
  {% endfor %}

  {{ govukSummaryList({
    classes: "govuk-summary-list--wide",
    card: {
      title: {
        text: "Search permissions"
      }
    },
    rows: rowArray
  }) }}
  </div>

  {{ userSearch(ctx, teamLink, userSearchParam) }}

        {{ govukButton({
    text: "Add new user",
    href: orgLink + "/user/create?currentTeamId=" + teamInfo.id,
    classes: "govuk-button--secondary"
  }) }}

    </div>
  </div>
  <h2>Users</h2>
  {% if users.length == 0 %}
    <p>There are no users in this team.</p>
  {% else %}
    {{ usersTable(users, usersMetaData, ["User", "Email address", "Last Active", "Account Status"], ctx) }}
    {{ pagination(usersMetaData.total, usersMetaData.perPage, usersMetaData.currentPage) }}
  {% endif %}

  {% endblock %}
{% endblock %}
