{% extends "app-template.njk" %}

{% from "hmpo-submit/macro.njk" import hmpoSubmit %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "components/pagination.njk" import pagination %}
{% from "components/users-table.njk" import usersTable %}

{% set govukServiceNameKey = translate("pages.user-management.serviceName") %}
{% set govukServiceTitleKey = translate("pages.user-management.userPage.pageTitle") %}
{% set hmpoPageKey = "user-management.userPage" %}
{% set govukServiceUrl = "/admin/organisations" %}

{% block hmpoContent %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% block mainContent %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <span class="govuk-caption-m">{{ translate("pages." + hmpoPageKey + ".h1", { default: hmpoTitle }) | safe }}</span>
                <h1 id="header" data-page="{{hmpoPageKey}}">{{ userInfo.firstName }} {{ userInfo.lastName }}</h1>
            </div>
            <div class="govuk-grid-column-one-half">
                <div class="govuk-button-group">
                    {{ hmpoSubmit(ctx, {id: "editUser", key: "editUser", href: "/user/" +userInfo.username+ "/edit"}) }}
                    {{ hmpoSubmit(ctx, {id: "resetPass", key: "resetPass", href: "/user/" +userInfo.username+ "/reset", classes: "govuk-button--secondary"}) }}
                    {{ hmpoSubmit(ctx, {id: "deleteUser", key: "deleteUser", href: "/user/" +userInfo.username+ "/delete", classes: "govuk-button--warning"}) }}
                </div>
            </div>
        </div>

        {% set orgLink = "/admin/organisations/" + userInfo.orgID %}
        {% set teamLink = orgLink + "/team/" + userInfo.teamID %}
        {% set userInfoArray = [
        [{text: "First name"}, { text: userInfo.firstName }],
        [{text: "Last name"}, { text: userInfo.lastName }],
        [{text: "Email address"}, { text: userInfo.email }],
        [{text: "Organisation"}, { html: "<a href=" + orgLink +">" + userInfo.organisationName + "</a>" }],
        [{text: "Team"}, { html: "<a href=" + teamLink +">" + userInfo.teamName + "</a>" }]
        ] %}

        <div class="table-horizontal-scrolling govuk-!-width-two-thirds">
            {{ govukTable({
            classes: "detail",
            firstCellIsHeader: true,
            rows: userInfoArray
            }) }}
        </div>

        {% endblock %}
    </div>
</div>
{% endblock %}