{% extends "app-template.njk" %}

{% from "hmpo-field/macro.njk" import hmpoField %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "hmpo-submit/macro.njk" import hmpoSubmit %}
{% from "components/lev-system-number.njk" import levSystemNumber %}

{% set hmpoPageKey = "death.searchPage" %}
{% set govukServiceNameKey = translate("pages.death.serviceName") %}
{% set govukServiceUrl = "/death" %}

{% block mainContent %}
    {{ super() }}

    {% call hmpoForm(ctx) %}
        {{ levSystemNumber(ctx, "system-number", "death-system-number-hint") }}
        {{ hmpoField(ctx, "surname") }}
        {{ hmpoField(ctx, "forenames") }}
        {{ hmpoField(ctx, "dobd") }}
        {{ hmpoSubmit(ctx, {id: "search", key: "search"}) }}
    {% endcall %}
{% endblock %}
