{% extends "details-template.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "hmpo-submit/macro.njk" import hmpoSubmit %}
{% from "components/lev-flag.njk" import levFlag %}

{% set hmpoPageKey = "partnership.detailsPage" %}
{% set govukServiceNameKey = translate("pages.partnership.serviceName") %}
{% set govukServiceTitleKey = translate("pages.partnership.detailPage.pageTitle") %}
{% set govukServiceUrl = "/partnership" %}
{% set rowsArray = [] %}

{% macro redact(value) %}
    {{ "UNAVAILABLE" if record.status.blocked else value }}
{% endmacro %}

{% set hmpoTitle -%}
    {{ redact(record.partner2.forenames) }} {{ redact(record.partner2.surname) }} & {{ redact(record.partner1.forenames) }} {{ redact(record.partner1.surname) }}
{%- endset %}

{% macro partner(title, partner) %}
    {% set rowsArray = (rowsArray.push([
        { html: "<h2>" + title + "</h2>", colspan: 2, classes: "section-head" }
    ],[
        { text: "Surname" },
        { html: redact(partner.surname) }
    ],[
        { text: "Forename(s)" },
        { html: redact(partner.forenames) }
    ]), rowsArray) %}
    {% if showFullDetails %}
        {% set rowsArray = (rowsArray.push([
            { text: "Date of birth" },
            { text: redact(partner.dob | date('DD/MM/YYYY')) }
        ],[
            { text: "Occupation" },
            { html: redact(occupation(partner)) }
        ]), rowsArray) %}
    {% endif %}
    {% set rowsArray = (rowsArray.push([
        { text: "Address" },
        { html: redact(partner.address) }
    ]), rowsArray) %}
    {% if showFullDetails %}
        {% set rowsArray = (rowsArray.push([
            { text: "Condition" },
            { text: redact(partner.condition) }
        ],[
            { text: "Signature" },
            { html: redact(partner.signature) }
        ]), rowsArray) %}
    {% endif %}
{% endmacro %}

{% macro parent(title, parent) %}
    {% set rowsArray = (rowsArray.push([
        { html: "<h2>" + title + "</h2>", colspan: 2, classes: "section-head" }
    ],[
        { text: "Surname" },
        { html: redact(parent.surname) }
    ],[
        { text: "Forename(s)" },
        { html: redact(parent.forenames) }
    ],[
        { text: "Occupation" },
        { html: redact(occupation(parent)) }
    ],[
        { text: "Designation" },
        { html: redact(parent.designation) }
    ],[
        { text: "Deceased" },
        { html: redact(yesNo(parent.deceased)) }
    ]), rowsArray) %}
{% endmacro %}

{% macro witness(title, witness) %}
    {% set rowsArray = (rowsArray.push([
        { html: "<h2>" + title + "</h2>", colspan: 2, classes: "section-head" }
    ],[
        { text: "Signature" },
        { html: redact(witness.forename + " " + witness.surname) }
    ]), rowsArray) %}
{% endmacro %}

{% macro occupation(person) %}
    {{ person.occupation }} {{ "(retired)" if person.retired }}
{% endmacro %}

{% macro yesNo(value) %}
    {{ "Yes" if value else "No" }}
{% endmacro %}

{% block mainContent %}
    {{ super() }}

    {% if record.flags.refer %}
        {{ levFlag(ctx, {key: "refer", type: "alert"}) }}
    {% endif %}

    {% include "../links.html" %}

    {% set rowsArray = (rowsArray.push([
        { text: "System number" },
        { text: record.id }
    ],[
        { text: "Date of civil partnership" },
        { text: redact(record.dateOfPartnership | date("DD/MM/YYYY")) }
    ],[
        { text: "Place of civil partnership" },
        { html: redact(record.placeOfPartnership.address) }
    ]), rowsArray) %}
    {{ partner('Partner 1', record.partner1) }}
    {{ partner('Partner 2', record.partner2) }}
    {% if showFullDetails %}
        {{ parent('Father of partner 1', record.fatherOfPartner1) }}
        {{ parent('Mother of partner 1', record.motherOfPartner1) }}
        {{ parent('Father of partner 2', record.fatherOfPartner2) }}
        {{ parent('Mother of partner 2', record.motherOfPartner2) }}
        {{ witness('First witness', record.witness1) }}
        {{ witness('Second witness', record.witness2) }}
    {% endif %}
    {% if showFullDetails %}
        {% set rowsArray = (rowsArray.push([
            { html: "<h2>Registration</h2>", colspan: 2, classes: "section-head" }
        ],[
            { text: "Registrar signature" },
            { text: redact(record.registrar.signature) }
        ]), rowsArray) %}
    {% endif %}

    {{ govukTable({
        classes: "details",
        firstCellIsHeader: true,
        rows: rowsArray
    }) }}

    <div class="govuk-button-group">
        {{ hmpoSubmit(ctx, {id: "newSearch", key: "newSearch", href: "/partnership"}) }}
        {{ hmpoSubmit(ctx, {id: "editSearch", key: "editSearch", href: "/partnership/search", classes: "blue"}) }}
        {% if showBackToResults %}
            {{ hmpoSubmit(ctx, {
                id: "backToResults",
                key: "backToResults",
                href: "/partnership/results",
                classes: "grey"
            }) }}
        {% endif %}
    </div>
{% endblock %}
