$govuk-assets-path: "/public/";
$module: "";

@import "node_modules/govuk-frontend/dist/govuk/index";
@import "node_modules/hmpo-components/all";
@import "./details";
@import "./flags";
@import "./audit";
@import "./results";
@import "./search";
@import "./organisation";
@import "./serviceNotification";

$blue-button-colour: #005ea5;
$blue-button-hover-colour: govuk-shade($blue-button-colour, 20%);

$grey-button-colour: #52585a;
$grey-button-hover-colour: govuk-shade($grey-button-colour, 20%);

a, button {
  &.blue {
    background-color: $blue-button-colour;

    &:hover {
      background-color: $blue-button-hover-colour;
    }
  }

  &.grey {
    background-color: $grey-button-colour;

    &:hover {
      background-color: $grey-button-hover-colour;
    }
  }

  &.logout {
    margin-bottom: 10px;
    text-underline-offset: 0.20em !important;
    font-size: 20px;
    font-size: 1.1875rem;
  }
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.home-header__left {
  flex: 1;
  text-align: left;
}

.home-header__right {
  flex: 1;
  text-align: right;
  font-weight: bold;
}

.indented-text {
  padding-left: 2.5rem !important;
}

.govuk-summary-list__row--empty {
  display: none;
}

.text-color-black {
  color: black !important;
}

.govuk-summary-list__key {
  @extend .text-color-black;
  font-weight: bold !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.govuk-\!-width-one-half_no_padding {
  @extend .govuk-\!-width-one-half;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.govuk-error-summary {
  width: 66%;
}

.govuk-summary-list__value {
  @extend .text-color-black;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.govuk-summary-list__key_no_bold {
  font-weight: normal !important;
}

.govuk-summary-list__row_no_border {
 border-bottom: none !important;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.govuk-service-navigation {
  border-bottom: 3px solid #1d70b8;
}

.no-underline a {
  text-decoration: none !important;
}

.no-underline a:hover {
  @extend .govuk-service-navigation__link;
}

.govuk-service-navigation__link {
  font-weight: bold;
  text-decoration: underline !important;
  text-decoration-thickness: from-font !important;
  text-underline-offset: 0.18em;
}

.govuk-header__link--homepage{
  font-size: 5px;
}

.image-wrapper {
  width: 75%;
  height: 75%;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.table-container {
  position: relative;
  width: 100%;
}

.user-table-footer {
  position: absolute;
  right: 0;
  padding-right: 15px;
}

.pagination-container {
  margin-top: -10px;
  display: flex;
  justify-content: flex-start;
}