$govuk-assets-path: "/public/";

@use "node_modules/govuk-frontend/dist/govuk/index" as govuk-frontend;
@use "node_modules/hmpo-components/all";
@forward "./details";
@forward "./flags";
@forward "./audit";
@forward "./results";

$blue-button-colour: #005ea5;
$blue-button-hover-colour: govuk-frontend.govuk-shade($blue-button-colour, 20%);

$grey-button-colour: #52585a;
$grey-button-hover-colour: govuk-frontend.govuk-shade($grey-button-colour, 20%);

a, button {
  &.blue {
    background-color: $blue-button-colour;

    &:hover {
      background-color: $blue-button-hover-colour;
    }
  }

  &.grey {
    background-color: $grey-button-colour;

    &:hover {
      background-color: $grey-button-hover-colour;
    }
  }

  &.logout {
    margin-bottom: 10px;
    font-size: 20px;
    font-size: 1.1875rem;
  }
}
.home-logout__link {
  float: right;
  font-weight: 400;
}

.text-color-black {
  color: black !important;
}

.govuk-summary-list__key {
  @extend .text-color-black;
  font-weight: bold !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.govuk-summary-list__value {
  @extend .text-color-black;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.govuk-service-navigation {
  border-bottom: 3px solid #1d70b8;
}
