$govuk-assets-path: "/public/";

@import "node_modules/govuk-frontend/dist/govuk/all";
@import "node_modules/hmpo-components/all";
@import "./details";
@import "./flags";
@import "./audit";
@import "./results";

$blue-button-colour: #005ea5;
$blue-button-hover-colour: govuk-shade($blue-button-colour, 20%);

$grey-button-colour: #52585a;
$grey-button-hover-colour: govuk-shade($grey-button-colour, 20%);

a, button {
  &.blue {
    background-color: $blue-button-colour;

    &:hover {
      background-color: $blue-button-hover-colour;
    }
  }

  &.grey {
    background-color: $grey-button-colour;

    &:hover {
      background-color: $grey-button-hover-colour;
    }
  }

  &.logout {
    float: right;
    margin-bottom: 10px;
    font-size: 20px;
    font-size: 1.1875rem;
  }
}

.text-color-black {
  color: black !important;
}

.govuk-summary-list__key {
  @extend .text-color-black;
  font-weight: bold !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.govuk-summary-list__value {
  @extend .text-color-black;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
