$govuk-assets-path: "/public/";

@import "../../node_modules/govuk-frontend/dist/govuk/index";
@import "../../node_modules/hmpo-components/all";

$section-head-colour: #f2f3f3;

table {
  &.details {
    border-top: 1px solid $govuk-border-colour;

    tbody {
      th {
        width: 12em;

        &.section-head {
          background-color: $section-head-colour;
        }

        h2 {
          margin-top: 20px;
          margin-bottom: 0;
        }
      }
    }
  }
}
