$govuk-assets-path: "/public/";

@use "node_modules/govuk-frontend/dist/govuk/index" as govuk-frontend;
@use "node_modules/hmpo-components/all";

table {
  &.results {
    border-top: 1px solid govuk-frontend.$govuk-border-colour;

    margin-bottom: 0;

    tbody {
      th {
        width: 8em;

        h2 {
          margin-top: 20px;
          margin-bottom: 0;
        }
      }
    }
  }
}
