$govuk-assets-path: "/public/";

@import "node_modules/govuk-frontend/dist/govuk/index";
@import "node_modules/hmpo-components/all";

.govuk-button.govuk-button--start#add-notification {
  padding: 7px 12px 6px 12px;
}

.govuk-table.live-notification td:last-child {
  text-align: right;
}

.govuk-table.live-notification td:first-child {
  width: 75%;
}

a.govuk-back-link {
  margin-top: 15px;
  margin-bottom: 0;
  padding-top: 0;
  font-size: 16px;
}

nav.govuk-breadcrumbs {
  margin: 0;
  padding: 0;
}

button#delete-notification {
  background: none;
  border: none;
  padding: 0;
  box-shadow: none;
  margin: 0;
}

a.govuk-breadcrumbs__link {
  font-size: 16px;
  position: relative;
  top: -30px;
  line-height: 1.25;
  height: 20px;
}

.govuk-breadcrumbs__list-item {
  margin: 0;
  padding: 0;
}

.govuk-breadcrumbs__list {
  margin-bottom: 15px;
  height: 20px;
}

div.govuk-notification-banner {
  margin-bottom: 40px;
}