{% if record.previousRegistration and not record.status.blocked %}
    {{ levFlag(ctx, {
        key: "reRegistrationLabel",
        html: hmpoSubmit(ctx, {id: "previousRegistration", key: "reRegistrationLink", href: govukServiceUrl + "/details/" + record.previousRegistration.id})
    }) }}
{% endif %}

{% if record.nextRegistration and not record.status.blocked %}
    {{ levFlag(ctx, {
        key: "replaced",
        type: "warning",
        html: hmpoSubmit(ctx, {id: "nextRegistration", key: "reRegisteredLink", href: govukServiceUrl + "/details/" + record.nextRegistration.id})
    }) }}
{% endif %}
